.container, .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  &::before, &::after {
    display: table;
    content: " ";
  }
}

.container-fluid {
  &::before, &::after {
    display: table;
    content: " ";
  }
}

.container:after, .container-fluid:after {
  clear: both;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.gap-2 {
  gap: 1rem;
}

.my-2 {
  margin-top: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.justify-end {
  justify-content: flex-end;
}
